* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: black;
}

::-webkit-scrollbar {
	width: 0px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(114, 113, 113);
	border-radius: 10px;
	height: 200px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

.search-bar {
	border: none;
	outline: none;
	width: 350px;
}


.category-btn {
	font-weight: bold !important;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: pointer;
	background: transparent;
	outline: none;
	border: none;

	padding: 7px 15px;
	margin: 10px 0px;
	border-radius: 20px;
	transition: all 0.3s ease;
}
.category-btn:hover {
	background-color: #76323f !important;
	color: white !important;
}
.category-btn:hover span {
	color: white !important;
}
.react-player {
	height: 77vh !important;
	width: 100% !important;
}
/* .line-clamp {
	display: -webkit-box; 
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;  
	overflow:scroll;
  } */


@media screen and (max-width: 600px) {
	.search-bar {
		width: 200px;
		
	}
	.react-player {
		height: 45vh !important;
	}
}

@media screen and (max-width: 480px) {
	.search-bar {
		width: 120px;
		
	}
}

@media screen and (max-width: 380px) {
	.search-bar {
		width: 90px;
		
	}
}
